<!doctype html>
<html>

<head>
    <title>Known authors</title>
</head>

<body>
    <h1>Known authors</h1>
    <ul>
        {% for a in authors %}
        <li>
            <a href="/authors/{{a|urlencode}}">{{a}}</a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <table>
        <tr>
            <td>
                <form action="/" method="get">
                    <button name="back">⬅️ Back</button>
                </form>
            </td>
            <td>
                <form action="/authors" method="get">
                    <button name="refresh">♻️ Refresh</button>
                </form>
            </td>
            <td>
                <form action="/reset/authors" method="post">
                    <button name="forget">🛑 Forget all authors</button>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>