<head>
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/prettyprint.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/run_prettify.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autoreload.js') }}"></script>
</head>
