<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h1>
                <a href="{{url_for('root')}}"><img height="32px" src="{{ url_for('static', filename='images/icon.png') }}" alt="Dashboard icon"></a>
                {{ title }}
            </h1>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="autoreload">
                <label class="form-check-label" for="autoreload">
                    <dfn title="Reload page every 5 seconds">Auto-refresh</dfn>
                </label>
            </div>
            <table>
                {% if buttons == 'import-export' %}
                <tr>
                    <td>
                        <a href="{{url_for('export_scoreboard')}}" role="button" class="btn btn-secondary">
                            Export
                        </a>
                    </td>
                    <td>
                        <a href="{{url_for('import_scoreboard')}}" role="button" class="btn btn-success">
                            Import
                        </a>
                    </td>
                </tr>
                {% elif buttons == 'test' %}
                <td>
                    <a href="{{url_for('tests_all')}}" role="button" class="btn btn-secondary">
                        Tests
                    </a>
                </td>
                <td>
                    <a href="{{url_for('authors_all')}}" role="button" class="btn btn-secondary">
                        Authors
                    </a>
                </td>
                <td>
                    <a href="{{url_for('reset_tests_specified', test=test)}}" role="button" class="btn btn-danger">
                        Reset test scoreboard
                    </a>
                </td>
                {% elif buttons == 'tests' %}
                <td>
                    <a href="{{url_for('authors_all')}}" role="button" class="btn btn-secondary">
                        Authors
                    </a>
                </td>
                <td>
                    <a href="{{url_for('reset_tests_all')}}" role="button" class="btn btn-danger">
                        Reset all scoreboards
                    </a>
                </td>
                {% elif buttons == 'author' %}
                <td>
                    <a href="{{url_for('tests_all')}}" role="button" class="btn btn-secondary">
                        Tests
                    </a>
                </td>
                <td>
                    <a href="{{url_for('authors_all')}}" role="button" class="btn btn-secondary">
                        Authors
                    </a>
                </td>
                <td>
                    <a href="{{url_for('reset_authors_specified', author=author)}}" role="button" class="btn btn-danger">
                        Remove author
                    </a>
                </td>
                {% elif buttons == 'authors' %}
                <td>
                    <a href="{{url_for('tests_all')}}" role="button" class="btn btn-secondary">
                        Tests
                    </a>
                </td>
                <td>
                    <a href="{{url_for('reset_authors_all')}}" role="button" class="btn btn-danger">
                        Forget all authors and solutions
                    </a>
                </td>
                {% endif %}
            </table>
        </div>
    </nav>
</header>