<!doctype html>
<html>

<head>
    <title>Tests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h1>Tests</h1>
            <table>
                <tr>
                    <td>
                        <form action="{{url_for('root')}}" method="get">
                            <button class="btn btn-secondary" name="back">Dashboard</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{url_for('authors_all')}}" method="get">
                            <button class="btn btn-secondary" name="back">Authors</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{url_for('tests_all')}}" method="get">
                            <button class="btn btn-primary" name="refresh">Refresh</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{url_for('reset_tests_all')}}" method="post">
                            <button class="btn btn-danger" name="reset">Reset all scoreboards</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </nav>
    <ul class="list-group">
        {% for t in tests %}
        <li class="list-group-item">
            <a href="{{url_for('tests_specified', test=t)}}">{{t}}</a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>