<!doctype html>
<html>

<head>
    <title>Tests</title>
</head>

<body>
    <h1>Tests</h1>
    <ul>
        {% for t in tests %}
        <li>
            <a href="./tests/{{t}}">{{t}}</a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <table>
        <tr>
            <td>
                <form action="/" method="get">
                    <button name="reset">⬅️ Back</button>
                </form>
            </td>
            <td>
                <form action="/tests" method="get">
                    <button name="reset">♻️ Refresh</button>
                </form>
            </td>
            <td>
                <form action="/reset/tests" method="post">
                    <button name="reset">🛑 Reset all scoreboards</button>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>