<!doctype html>
<html>

{% set title = 'Test — ' ~ test %}
{% set buttons = 'test' %}

{% include 'head.html' %}

<body>
    {% include 'header.html' %}
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th style="width: 5%">Score</th>
                <th style="width: 20%">Author</th>
                <th style="width: 5%">Attempts</th>
                <th style="width: 70%">Solution</th>
            </tr>
        </thead>
        <tbody>
            {% for s in submissions %}
            <tr>
                <td>
                    {% if s.1 == 100 %}
                    ✅
                    {% elif s.1 == None %}
                    ❌
                    {% else %}
                    {{s.1}}%
                    {% endif %}
                </td>
                <td><a href="{{url_for('author_specified', author=s.0)}}">{{s.0}}</a></td>
                <td>{{s.3}}</td>
                <td>
                    <pre class="prettyprint"><code>{{s.2}}</code></pre>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>