<!doctype html>
<html>

<head>
    <title>Test — {{test}}</title>
</head>

<body>
    <h1>Test — {{test}}</h1>
    <table border="1">
        <tr>
            <th>Score</th>
            <th>Author</th>
            <th>Solution</th>
        </tr>
        {% for s in submissions %}
        <tr>
            <td>
                {% if s.1 == 100 %}
                ✅
                {% else %}
                {{s.1}}
                {% endif %}
            </td>
            <td>{{s.0}}</td>
            <td>
                <textarea readonly>{{s.2}}</textarea>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>