<!doctype html>
<html>

<head>
    <title>Test — {{test}}</title>
</head>

<body>
    <h1>Test — {{test}}</h1>
    <table border="1">
        <tr>
            <th>Score</th>
            <th>Author</th>
            <th>Attempts</th>
            <th>Solution</th>
        </tr>
        {% for s in submissions %}
        <tr>
            <td>
                {% if s.1 == 100 %}
                ✅
                {% else %}
                {{s.1}}%
                {% endif %}
            </td>
            <td>{{s.0}}</td>
            <td>{{s.3}}</td>
            <td>
                <textarea readonly>{{s.2}}</textarea>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <table>
        <tr>
            <td>
                <form action="/tests" method="get">
                    <button name="reset">⬅️ Back</button>
                </form>
            </td>
            <td>
                <form action="/tests/{{test}}" method="get">
                    <button name="reset">♻️ Refresh</button>
                </form>
            </td>
            <td>
                <form action="/reset/tests/{{test}}" method="post">
                    <button name="reset">🛑 Reset test scoreboard</button>
                </form>
            </td>
        </tr>
    </table>

</body>

</html>