# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jn200100d\OneDrive - student.etf.bg.ac.rs\Documents\GitHub\jupyter-testbench\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
